.env
data/yelp_academic_reviews4students.jsonl
data/yelp_academic_dataset_business.json
data/yelp_academic_dataset_business.json.zip
data/yelp_academic_reviews4students.jsonl.zip
data/__MACOSX/._yelp_academic_reviews4students.jsonl
/data/__MACOSX
/data
/resultat
